.heading{
text-align: center;
font-size: large;
font-weight: 5000;
font-style: unset;
}

html{
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url('https://images.freeimages.com/images/large-previews/48d/woodgrain-texture-1151631.jpg');
  
}


.video{
  padding-left: 40px;
  border: 5px solid;
  border-color: aliceblue;
}
.row{
  display: flex;
  margin: 2rem;
  padding: 2.2rem 0;
  gap: 20px;
  align-items: center;
  animation: marquee 50s linear infinite alternate;
  border-color: white;
  
}
marquee.row{
  
}
img{
  border: 5px solid;
  border-color: aliceblue;
  border-radius: 5px;
  width: 350px;
  height: 600px;
}
